.DS_Store

/Dashboard/.phpunit.cache
/Dashboard/node_modules
/Dashboard/public/build
/Dashboard/public/hot
/Dashboard/public/storage
/Dashboard/storage/*.key
/Dashboard/vendor
Dashboard/.env
Dashboard/.DS_Store
Dashboard/.env.backup
Dashboard/.env.production
Dashboard/.phpunit.result.cache
Dashboard/Homestead.json
Dashboard/Homestead.yaml
Dashboard/auth.json
Dashboard/npm-debug.log
Dashboard/yarn-error.log
Dashboard/.fleet
Dashboard/.idea
Dashboard/.vscode

/Website/.phpunit.cache
/Website/node_modules
/Website/public/build
/Website/public/hot
/Website/public/storage
/Website/storage/*.key
/Website/vendor
Website/.env
Website/.DS_Store
Website/.env.backup
Website/.env.production
Website/.phpunit.result.cache
Website/Homestead.json
Website/Homestead.yaml
Website/auth.json
Website/npm-debug.log
Website/yarn-error.log
Website/.fleet
Website/.idea
Website/.vscode
